.cardForm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardForm-welcome {
  margin-top: 15%;
}

.cardForm-submitContainer {
  width: 100%;
  margin: 0 16px;
}

.cardForm-CreditCardContainer {
  margin: 16px;
}

.cardForm-CvcDateContainer {
  display: flex;
  margin: 16px;
}

.cardForm-Cvc {
  margin: 0 16px;
}

.fullWidth {
  width: 100%;
}
